@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";


.e-parent-node {
    background-color: #dcdbdb !important;
}

.e-schedule .e-timeline-view .e-resource-group-cells {
    background-color: #dcdbdb !important;
}


.e-resource-column-wrap .template-wrap {
    width: 100%;
}

.e-resource-column-wrap .e-vertical-view .e-resource-cells {
    height: 58px;
}

.e-resource-column-wrap .e-timeline-view .e-resource-left-td,
.e-resource-column-wrap .e-timeline-month-view .e-resource-left-td {
    width: 170px;
}

.e-resource-column-wrap .e-resource-cells.e-child-node .employee-category,
.e-resource-column-wrap .e-resource-cells.e-child-node .employee-name {
    padding: 4px
}


.e-resource-column-wrap .employee-image {
    width: 45px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 45px;
}

.e-resource-column-wrap .employee-name {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.e-resource-column-wrap .employee-designation {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.e-resource-column-wrap .template-wrap .employee-image.robert {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png');
}

.e-resource-column-wrap .template-wrap .employee-image.nancy {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png');
}


.e-resource-column-wrap .template-wrap .employee-image.smith {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/will-smith.png');
}

.e-resource-column-wrap .template-wrap .employee-image.williams {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
}


.e-resource-column-wrap .template-wrap .employee-image.laura {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png');
}

.e-resource-column-wrap .template-wrap .employee-image.margaret {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png');
}


.e-resource-column-wrap .template-wrap .employee-image.alice {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png');
}

.e-resource-column-wrap .template-wrap .employee-image.robson {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
}


.e-schedule-table .e-appointment.e-leave {
    /* opacity: 0.6;  */
    background-color: #d7d6d6 !important;
    color: black;
    /* border: 2px dashed red; */
}

.e-schedule-table .e-appointment.e-half-leave {
    /* opacity: 0.6;  */
    background-color: #d7d6d6 !important;
    color: black;
    /* border: 2px dashed red; */
}

.e-schedule-table .e-appointment.e-covers {
    /* opacity: 0.6;  */
    background-color: #0098fb !important;
    color: white;
    /* border: 2px dashed red; */
}

.e-schedule-table .e-appointment.e-leave .e-icons {
    display: flex;
    /* Enables flexbox */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    /* Ensures it spans the full height */
    font-size: 20px;
    /* Adjust icon size */
    color: #fd5452;
}

.e-schedule-table .e-appointment.e-half-leave .e-icons {
    display: flex;
    /* Enables flexbox */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    /* Ensures it spans the full height */
    font-size: 20px;
    /* Adjust icon size */
    color: #FFA500;
}

.e-schedule-table .e-appointment.e-covers .e-icons {
    display: flex;
    /* Enables flexbox */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    /* Ensures it spans the full height */
    font-size: 18px;
    /* Adjust icon size */
    color: white;
}

.e-schedule-table .e-appointment.e-leave .e-icons::before {
    content: '\e917';
}

.e-schedule-table .e-appointment.e-half-leave .e-icons::before {
    content: '\e92f';
}

.e-schedule-table .e-appointment.e-covers .e-icons::before {
    content: '\e606';
}

.e-past-app {
    background-color: rgb(14, 118, 50) !important;
}


.drag-sample-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.schedule-container {
    padding-right: 10px;
    width: 100%;
}

.title-container {
    padding-bottom: 10px;
}

.treeview-external-drag {
    border: 0.8px solid lightgray;
    margin-top: 40px;
}

.treeview-external-drag {

    .e-list-item.e-level-1 .e-fullrow {
        background-color: #dcdbdb !important;

        .header-role {
            font-size: 12px;
            font-weight: bold;
        }
    }

    .e-list-item.e-level-1 .e-list-item.e-level-2 .e-fullrow {
        background-color: #f1f1f1 !important;
        /* Prevents the style from applying to level-2 */
    }



}


.treeview-external-drag #waitdetails {
    width: 95%;
    float: left;
    height: 100%;
    padding: 0;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .template-wrap {
    padding: 3px 0px;
}

.title-text {
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}


.treeview-external-drag #waitlist {
    width: 100%;
    height: 50%;
    font-weight: bold;
    font-family: "Segoe UI";
    font-size: 12px;
    padding: 5px 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.treeview-external-drag #waitcategory {
    height: 50%;
    font-family: "Segoe UI";
    font-size: 10px;
    opacity: 0.6;
    padding-left: 10px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.treeview-external-drag .e-list-text,
.treeview-external-drag.e-rtl .e-list-text,
.e-bigger .treeview-external-drag .e-list-text,
.e-bigger .treeview-external-drag.e-rtl .e-list-text {
    height: 50px;
    line-height: 15px !important;
    padding: 0 5px;
    width: 220px;
}

.treeview-external-drag .e-list-text .header-role {
    position: absolute;
    height: 100%;
    top: 18px;
}

.treeview-external-drag .e-list-parent,
.treeview-external-drag.e-rtl .e-list-parent,
.e-bigger .treeview-external-drag .e-list-parent,
.e-bigger .treeview-external-drag.e-rtl .e-list-parent {
    height: 100%;
}

.treeview-external-drag .e-list-item,
.e-bigger .treeview-external-drag .e-list-item {
    height: 100%;
    padding: 0 0 5px 0;
}

.treeview-external-drag .e-fullrow,
.e-bigger .treeview-external-drag .e-fullrow {
    height: 55px;
}

.treeview-external-drag .e-list-item.e-hover>.e-fullrow,
.treeview-external-drag .e-list-item.e-active>.e-fullrow,
.treeview-external-drag .e-list-item.e-active.e-hover>.e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-hover>.e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active>.e-fullrow,
.e-bigger .treeview-external-drag .e-list-item.e-active.e-hover>.e-fullrow {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.fluent2-highcontrast .treeview-external-drag .e-list-item.e-hover>.e-text-content .e-list-text {
    color: #fff;
}

.treeview-external-drag .e-text-content,
.e-bigger .treeview-external-drag .e-text-content,
.treeview-external-drag.e-rtl .e-text-content,
.e-bigger .treeview-external-drag.e-rtl .e-text-content {
    padding: 0;
    background-color: inherit;
}

.e-drag-item.e-treeview.treeview-external-drag,
.e-bigger .e-drag-item.e-treeview.treeview-external-drag {
    padding: 0 !important;
}

.e-schedule.schedule-drag-drop .e-timeline-view .e-resource-left-td,
.e-schedule.schedule-drag-drop .e-timeline-month-view .e-resource-left-td {
    width: 160px;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-category {
    padding-left: 30px
}

.e-schedule.e-rtl.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-category {
    padding-right: 30px
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-child-node .specialist-category,
.e-schedule.schedule-drag-drop .e-resource-cells.e-child-node .specialist-name {
    padding: 5px
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-name {
    padding: 0 10px
}

.e-schedule.schedule-drag-drop .e-resource-cells .specialist-name {
    font-size: 13px;
}

.e-schedule.schedule-drag-drop .e-resource-cells .specialist-designation {
    font-size: 10px;
}

.e-schedule.schedule-drag-drop .specialist-image {
    width: 45px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 45px;
}

.e-device-hover {
    background-color: #e0e0e0 !important;
}

.e-schedule.schedule-drag-drop .e-resource-cells.e-parent-node .specialist-image {
    display: none;
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.alice {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png');
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.robert {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png');
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.robson {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.laura {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png');
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.nancy {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png');
}

.schedule-drag-drop.e-schedule .template-wrap .specialist-image.margaret {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png');
}

@media (max-width: 550px) {
    .drag-sample-wrapper {
        display: block;
    }

    .schedule-container {
        padding-bottom: 10px
    }

    .treeview-external-drag.e-treeview,
    .e-bigger .treeview-external-drag.e-treeview {
        width: 250px;
    }

    .e-bigger .treeview-external-drag.e-treeview.e-drag-item {
        position: relative !important;
    }
}

.e-disble-not-allowed {
    cursor: unset !important;
}

.e-drag-item.treeview-external-drag .e-icon-expandable {
    display: none;
}