@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.event-sample-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.schedule-container {
    padding-right: 10px;
    width: 85%;
}

.e-room-selection {
    width: 15%;
}

.e-schedule-table .e-header-row .template-wrap .resource-name {
    margin-bottom: 3px;
}

.e-schedule-table .e-header-row .template-wrap .e-icons.e-capacity-icon {
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-right: 4px;
}

.e-schedule-table .e-header-row .template-wrap .e-icons.e-capacity-icon::before {
    content: '\e424';
}

.e-schedule-table .e-header-row .template-wrap .e-capacity {
    vertical-align: top;
    padding-top: 2px;
}

.e-schedule .e-vertical-view .e-header-row .e-resource-cells {
    padding: 0;
    text-align: center !important;
  }